* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
@font-face {
    font-family: behuda;
    src: url(./font/font.ttf);
}
 
@font-face {
    font-family:custom_font ;
    src: url(/font/Raleway-ExtraLight.ttf);

}
@font-face {
    font-family: bold_font;
    src: url(./font/Raleway-Medium.ttf);
}
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(21, 30, 41, 0.952);
}

.candle {
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    border-top: 1rem solid #9374f0;
    border-radius: 0.5rem;
    display: flex;
    gap: 4.490rem;
    justify-content: center;

}

.candle div {
    width: 0.5rem;
    height: 20rem;
    background-color: rgb(147, 116, 240);
    position: relative;
}

.candle div:before {
    content: "";
    position: absolute;
    top: 88%;
    left: -2.19rem;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(147, 116, 240);

}

.candle div:first-child {
    animation: left-swing 2s linear infinite;
    transform-origin: top left;
}

@keyframes left-swing {
    0% {
        rotate: 0deg;
    }

    30% {
        rotate: 30deg;
    }

    50% {
        rotate: 0deg;
    }


    100% {
        rotate: 0deg;
    }
}

.candle div:last-child {
    animation: right-swing 2s linear 1s infinite;
    transform-origin: top right;
}

@keyframes right-swing {
    0% {
        rotate: 0deg;
    }

    30% {
        rotate: -30deg;
    }

    50% {
        rotate: 0deg;
    }

    100% {
        rotate: 0deg;
    }
}


/* 
button created */


.button button{
    text-transform: capitalize;
   border: 3.5px solid #a793e2;
   border-radius: 5px;
   box-shadow: rgba(226, 221, 221, 0.16) 0px 3px 6px, rgba(206, 198, 198, 0.23) 0px 3px 6px;
   background: transparent;
}
.button button a{
    font-family: custom_font,bold_font,behuda ;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
   text-decoration: none;
   color: #c9bbf3;
   padding:1rem ;
  
 
} 


/* button hover */


.button button:hover{
 border: 3px solid  #8560f3d7;
color: #8560f3d7 ;
box-shadow: rgba(212, 204, 204, 0.904) 0px 1px 8px, rgba(235, 203, 203, 0.911) 0px 1px 8px;
animation: button 0.2s linear;

}
@keyframes button {
    0%{
        rotate: 20deg;
    }
    50%{
        rotate: -20deg;
    }
    100%{
     rotate: 20deg;
    }
}
.button button a:hover{
color: #9ebaeee5;
font-size: 30px;
font-family: Behuda;
cursor: not-allowed
}